########################################################################
#### pip requirements file
### system packages
## structp_pics
#$ brew install pyexiv2
#$ apt-get install python-pyexiv2


### pip packages
## structp_pics
enzyme
PyPdf2
python-magic


