########################################################################
#### pip requirements file
### pip packages

## pyleset
structlog
sarge
pathlib

## structp
path.py
networkx

## structp_pics
enzyme
PyPdf2
python-magic

