########################################################################
#### pip requirements file
### system packages
## structp_pics
#$ brew install pyexiv2
#$ apt-get install python-pyexiv2


### pip packages
## structp_pics
-e git+https://github.com/Diaoul/enzyme#egg=enzyme
-e git+https://github.com/mstamy2/PyPDF2#egg=PyPdf2
-e git+https://github.com/ahupp/python-magic#egg=python-magic


